.hh
{
    background-color: lightgrey;
padding: 10px 30px;
color:teal;
border-radius: 5px;
}
.yy
{
background-color: black;
color: white;
}
.aa
{
    background-color: yellow;
}
.bb
{
    background-color: tomato;
}
.cc
{
    font-size: 10px;

}
.dd
{
    font-size: 50px;
}